.details_switch_demo_wrapper {
    position: relative;
    overflow: hidden;
    height: 350px;
    transition: background 1s;
}

.details_switch_demo {
    margin: 20px 10px;
    width: 700px;
    height: 320px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.details_switch_demo_img_wrapper,
.details_switch_demo_text_wrapper {
    width: 50%;
    display: inline-block;
    height: 100%;
}

.details_switch_demo_pic,
.details_switch_demo_map {
    position: absolute;
}

.details_switch_demo_pic {
    width: 220px;
    top: 100px;
    left: 40px;
}

.details_switch_demo_map {
    width: 250px;
    top: 60px;
    left: 30px;

}
.details_switch_demo_map.map2{
    width: 200px;
    left: 50px;
}

.details_switch_demo_text_wrapper h1 {
    font-size: 18px;
    margin: 5px auto;
}

.details_switch_demo_text_wrapper em {
    height: 2px;
    width: 80px;
    border-radius: 2px;
    display: block;

}

.details_switch_demo_text_wrapper p {
    font-size: 12px;
    margin-top: 10px;
    margin-right: 380px;
}

.details_switch_demo_wrapper_left{
    left: 10px;
    z-index: 999;
    position: absolute;
    top: 50%;
}

.details_switch_demo_wrapper_right{
    right: 10px;
    z-index: 999;
    position: absolute;
    top: 50%;
}