@import "../../assets/style/commonStyle.css";

.divBack {
    background: var(--backgroundColor);
    padding:40px 10px;
}

.item {
    text-align: center;
    height: 240px;
    line-height: 240px;
    background: white;
    color: #b1b1b1;
    overflow: hidden;
    display: block;
    border-radius: 5px;
    margin: 16px;
}

.pagination {
    float: right;
    margin-top: 10px;
}
