@import "../../assets/style/commonStyle.css";
.wrapper {
    background-color: var(--backgroundColor);
    margin: 10px auto;
    padding: 40px;
    display: block;

}

.pagination {
    float: right;
    margin-top: 10px;
}


