@import "../../assets/style/commonStyle.css";
.tab {
    text-align: center;
    height: 360px;
    width: 30%;
    line-height: 360px;
    background: var(--backgroundColor);
    color: #fff;
    overflow: hidden;
    display: block;
    position: absolute;
    right: 2px;
    top: var(--topHeight);
    padding-left: 4px;
    padding-right: 4px;

}